.Showcases {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 1rem;
  width: 100%;
}


.Showcases__header {
  font-family: 'Metropolis Bold';
  font-size: 24px;
}



.card__container {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

.Showcases__card__title {
  font-family: 'Metropolis Bold';
  font-size: 20px;
  color: #92ffff;
}


.Showcases__card__holder {
  margin: 12px;
}

.Showcases__card {
  border-radius: 30px;
  background-image: linear-gradient(90deg, rgb(90, 151, 126), rgb(47, 141, 165));

  display: flex;
  justify-content:center;
  text-align: center;
  align-items: center;


  max-width: 612px;
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;

}

.Showcases__card__dark {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 30px;

  display: flex;
  justify-content:center;
  text-align: center;
  align-items: center;

  width: 100%; /* Make the card responsive to its container */
  height: 100%;
}
.Showcases__card__socialholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
